apiVersion: v1
kind: Service
metadata:
  name: petshop
  labels:
    app: petshop
spec:
  type: NodePort
  selector:
    app: petshop
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30180
